function Main.main 1
call spaceinvadergame.new 0
pop local 0
push local 0
call spaceinvadergame.run 1
pop temp 0
push local 0
call spaceinvadergame.dispose 1
pop temp 0
push constant 0
return
